* {
    box-sizing: border-box;
  }

  @keyframes gradient {
    100% {
      background-size: 4000px 1000px;
    }
  }
  button > a{
    color:white !important;
  }
body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("fondoPedidos.svg");
    background-size: 2000px 1000px;
    background-position: -500px 0;
    color: #5a5858;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: gradient 20s infinite alternate linear;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 24px;
    padding: 24px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }